html,
body,
#__next {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
